# GLPI Connection Settings
GLPI_API_URL=https://<seu-glpi-aqui>/api.php
GLPI_API_VERSION=11
GLPI_USERNAME=
GLPI_PASSWORD=

# OAuth2 Client Credentials (for GLPI API v11+)
GLPI_OAUTH_CLIENT_ID=
GLPI_OAUTH_CLIENT_SECRET=
